<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.culturapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.culturapp.Inicio"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.culturapp.Menu"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="com.culturapp.Invitados"
            android:label="@string/title_activity_invitados" >
        </activity>
        <activity
            android:name="com.culturapp.Noticias"
            android:label="@string/title_activity_noticias" >
        </activity>
        <activity
            android:name="com.culturapp.Social"
            android:label="@string/title_activity_social" >
        </activity>
        <activity
            android:name="com.culturapp.Noticia"
            android:label="@string/title_activity_noticia" >
        </activity>
        <activity
            android:name="com.culturapp.ProgramacionCategorias"
            android:label="@string/title_activity_programacion_categorias" >
        </activity>
        <activity
            android:name="com.culturapp.ProgramacionEventos"
            android:label="@string/title_activity_programacion_eventos" >
        </activity>
        <activity
            android:name="com.culturapp.Evento"
            android:label="@string/title_activity_evento" >
        </activity>
        <activity
            android:name="com.culturapp.EventoInformacion"
            android:label="@string/title_activity_evento_informacion" >
        </activity>
        <activity
            android:name="com.culturapp.EventoRuta"
            android:label="@string/title_activity_evento_ruta" >
        </activity>
    </application>

</manifest>
